<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129258897545-415q8t4rlhrb1l4jpj81hgdq1pgsjkpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129258897545-415q8t4rlhrb1l4jpj81hgdq1pgsjkpf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>129258897545-2pptudmm7og9mc4riakalcc53psg5b03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuB5VhIVwvDN_u_8Fi3Te5N8QSG37Jje0</string>
	<key>GCM_SENDER_ID</key>
	<string>129258897545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medzo.app</string>
	<key>PROJECT_ID</key>
	<string>medzo-18785</string>
	<key>STORAGE_BUCKET</key>
	<string>medzo-18785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129258897545:ios:edaff6ef9e6c0e88998658</string>
</dict>
</plist>